<label for="{{field.name}}-{{field.id}}" class="control-label">{{field.prompt}}</label>
<div class="input-group" ng-class="{required: field.required}">
    <span class="input-group-addon">
        <i class="fa fa-user"></i>
    </span>

    <input id="input-{{field.fieldId}}"
           type="text" class="form-control" ng-class="{error: field.errors.empty}"
           ng-model="model"
           ng-required="{{field.required}}" ng-value="field.property"

           ng-disabled="{{field.disable | requiredFilter}}" placeholder="{{field.placeHolder}}"
           title="{{field.tooltip}}"/>
</div>
